body {
    background-color:rgb(37, 201, 212);
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 10px 3px 20px rgb(40, 46, 46);
    grid-row: 1/2;
}
nav h1 {
    margin-right: 15%;
    color: rgb(77, 201, 160);
    text-transform: uppercase;
    z-index: 2;
    box-shadow: 5px 6px rgb(0, 146, 146);
    border: 0.1px solid rgb(0, 146, 146);
    cursor: pointer;
}
nav h2 {
    margin-right: 17px;
    cursor: pointer;
}

#barColor {
    background-color: black;
    color: white;
    width: 98%;
    height: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
    border-radius: 5px;
    grid-row: 3/4;
    grid-column: 2/3;
    padding-left: 5px;
    cursor: pointer;
    float: left;
    padding-right: 20px;
}
button {
    width: 100px;
    height: 50px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    grid-row: 4/5;
    grid-column: 2/3;
    margin-left: 250px;
    cursor: pointer;
}

button:hover {
    filter: brightness(80%);

}
button:active {
    transform: scale(0.9,0.9);
    transition: all 0.2s;
}

#mamau {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 40px;
    padding: 0;
    margin: 0;
    width: 200px;
    float: right;
   
   
    
}